* {
    bg-col:  #282828;
    bg-col-light: #ebdbb2;
    border-col: #282b2c;
    selected-col: #242728;
    blue: #83a598;
    fg-col: #d4be98;
    fg-col2: #df736d;
    grey: #928374;
    width: 1200;
}
